.cookie-banner-section {
  background: #c6c6c6;
  padding: 40px 16px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    padding: 40px 80px;
    max-width: 1440px;
  }
}

.cookie-banner-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.cookie-banner-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #2e2c2a;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 18px;
    text-align: left;
    max-width: 808px;
    margin-bottom: 0;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-grow: 1;
    flex-direction: row;
  }
}

.cookie-accept-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #505053;
  padding: 16px 32px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  max-width: 343px;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #160d07;
  }

  @include media(desktop) {
    max-width: 200px;
  }
}

.cookie-decline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #16151a;
  padding: 15px 31px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #16151a;
  width: 100%;
  max-width: 343px;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #160d07;
    color: #fff;
  }

  @include media(desktop) {
    max-width: 200px;
  }
}

.show-cookie-banner {
  display: block;
}
