.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
  }
}

.contact-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #c3c3c3;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-btn {
  border: 1px solid #fff;
  padding: 13px 19px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 311px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    font-size: 28px;
    max-width: 640px;
  }
}
