.contact-section {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 384px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom 64px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 352px;
    padding-bottom: 204px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.png);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0);
  border: 0.51px solid #fff;
  border-radius: 24px;
  padding: 23px 15px;

  @include media(desktop) {
    padding: 31px;
    max-width: 624px;
  }
}

.contact-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 42px;
    letter-spacing: -0.04em;
  }
}

.contact-item-link {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: -0.04em;
  color: #ece7c5;
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.arrow-icon {
  min-width: 24px;
}

.contact-btn {
  max-width: 311px;

  @include media(desktop) {
    max-width: 196px;
  }
}
