.cta-section {
}

.cta-bg-wrapper {
  padding-top: 104px;
  padding-bottom: 104px;
  max-width: 374px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/cta/cta-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/cta/cta-bg-desk.jpg);
  }
}

.cta-container {
  @include media(desktop) {
  }
}

.cta-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.cta-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 52px;
  }
}

.cta-btn {
  @include media(desktop) {
  }
}
