.faq-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-top-wrapper {
  margin-bottom: 48px;

  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
}

.faq-title-wrapper {
  max-width: 285px;
  margin-left: auto;
  margin-bottom: 40px;

  @include media(desktop) {
    gap: 77px;
    max-width: 551px;
    margin: 0;
  }
}

.faq-title-circle {
  display: inline-block;
  border-radius: 100%;
  background: #cf5138;
  min-width: 18px;
  width: 18px;
  height: 18px;
  margin-right: 38px;

  @include media(desktop) {
    min-width: 32px;
    width: 32px;
    height: 32px;
    margin-right: 77px;
  }
}

.faq-title {
  display: inline;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: right;
  color: #fff;

  @include media(desktop) {
    font-size: 52px;
    letter-spacing: -0.04em;
  }
}

.faq-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 1px solid #878787;
  border-radius: 50px;
  padding: 15px;

  @include media(desktop) {
  }
}

.faq-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: -0.04em;
  color: #c3c3c3;
  max-width: 159px;

  @include media(desktop) {
    max-width: 197px;
  }
}

.faq-img {
  @include media(desktop) {
  }
}

.faq-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include media(desktop) {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 32px;
  }
}

.faq-list-item {
  border: 1px solid #4b4b4b;
  border-radius: 26px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  text-align: left;

  @include media(desktop) {
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: -0.02em;
  color: #c3c3c3;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  max-width: 287px;

  @include media(desktop) {
    max-width: 584px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}
