.faq-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 104px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 52px;
    margin-bottom: 80px;
  }
}

.faq-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @include media(desktop) {
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 32px;
  }
}

.faq-list-item {
  border: 1px solid #505053;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: center;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #fff;
  text-align: left;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 18px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #c3c3c3;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  max-width: 287px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 584px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
  color: #de4547;
}
