.features-section {
  padding-top: 48px;
  padding-bottom: 461px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 128px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-text-wrapper {
  @include media(desktop) {
    max-width: 640px;
    margin-left: auto;
  }
}

.features-title {
  max-width: 160px;
  margin-left: auto;
  margin-bottom: 40px;

  @include media(desktop) {
    margin-left: 0;
    margin-bottom: 60px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.features-list-item {
  @include media(desktop) {
    max-width: 304px;
  }
}

.features-icon {
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.04em;
  color: #0f0f0f;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.36;
  letter-spacing: -0.04em;
  color: #848484;

  @include media(desktop) {
  }
}
