.header {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 20px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.nav-list-link {
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 7px 11px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background: #000306;
    border-color: #000306;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
