.header {
  backdrop-filter: blur(16px);
  background: #160d07;
  padding: 6px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 20px 0;
  }
}

.header-container {
  @include media(desktop) {
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.nav-list-link {
  border-radius: 50px;
  padding: 8px 12px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #de4547;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.menu-icon {
}

.close-icon {
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
