.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 436px;
  padding-bottom: 68px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 310px;
    padding-bottom: 230px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 132px;
    line-height: 0.9;
  }
}

.hero-title-span {
  color: #de4547;
}

.hero-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.hero-btn {
  background: #de4547;
  padding: 14px 16px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #fff;
    color: #de4547;
  }

  @include media(desktop) {
    max-width: max-content;
  }
}
