.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 100px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;

  @include media(desktop) {
    padding-top: 152px;
    padding-bottom: 228px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 322px;
  }
}

.hero-top-wrapper {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0);
  border: 0.51px solid #fff;
  border-radius: 24px;
  padding: 23px;
  max-width: 272px;
  margin-left: auto;
  margin-bottom: 172px;

  @include media(desktop) {
    max-width: 283px;
    margin: 0;
  }
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.hero-list-item {
  border: 0.51px solid #fff;
  border-radius: 25px;
  padding: 5px 11px;

  &:first-child {
    background: #fff;

    .hero-item-text {
      color: #0f0f0f;
    }
  }

  @include media(desktop) {
  }
}

.hero-item-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #fff;

  @include media(desktop) {
  }
}

.hero-top-subtitle {
  border-bottom: 0.51px solid #fff;
  padding-bottom: 6px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 6px;

  @include media(desktop) {
    font-size: 42px;
  }
}

.hero-top-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.32;
  letter-spacing: -0.02em;
  color: #fff;

  @include media(desktop) {
  }
}

.hero-bottom-wrapper {
  @include media(desktop) {
  }
}

.hero-main-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 72px;
  line-height: 0.9;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 122px;
    margin-bottom: 32px;
  }
}

.hero-title-span {
  color: #cf5138;
}

.hero-btn-wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.hero-text {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #c3c3c3;
  max-width: 176px;
  margin-bottom: 16px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.hero-btn {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 6px 18px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #fff;

    .hero-btn-top-text {
      color: #0f0f0f;
    }

    .hero-btn-bottom-text {
      color: #0f0f0f;
    }
  }

  @include media(desktop) {
    max-width: 196px;
    margin: 0;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.hero-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  margin-bottom: 4px;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.hero-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.hero-img {
  display: none;

  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 90px;
    right: 64px;
  }
}
