.context-menu {
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 5;
  background-image: url(../img/context/context-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.context-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 7px 11px;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;

  &:active {
    background: #000306;
    border-color: #000306;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
