<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-content-wrapper">
        <h2 class="contact-title">
          Questions, feedback, or ideas — we’re open to hearing from you.
        </h2>
        <a href="mailto:info@playmatrix.space" class="contact-item-link"
          >info@playmatrix.space
          <svg class="arrow-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
        <a class="hero-btn contact-btn" href="#">
          <svg class="playstore-icon" width="26" height="29">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="hero-btn-top-text">GET IT ON</p>
            <p class="hero-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
