<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="contact-title">Contact</h2>
      <p class="contact-text">
        All booking requests and questions are handled via email. Reach out to
        us and we’ll guide you through availability, group size, and room
        details.
      </p>
      <a href="mailto:info@playnith.online" class="contact-btn"
        >info@playnith.online
      </a>
    </div>
  </div>
</section>
