<section class="section cta-section" id="cta">
  <div class="cta-bg-wrapper">
    <div class="container cta-container">
      <picture>
        <source
          srcset="./img/cta/cta-logo-desk.png"
          media="(min-width: 1440px)"
          width="92"
          height="58" />
        <source srcset="./img/cta/cta-logo-mob.png" width="70" height="44" />
        <img
          class="cta-img"
          src="./img/cta/cta-logo-mob.png"
          alt="Screenshot of the game"
          width="70"
          height="44"
      /></picture>
      <h2 class="cta-title">Can You Solve the Mystery?</h2>
      <a class="hero-btn cta-btn" href="#">Contact to Book</a>
    </div>
  </div>
</section>
