<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-text-wrapper">
        <h2 class="section-title experience-title">
          Experience & <span class="section-title-span">Atmosphere</span>
        </h2>
        <p class="experience-text">
          We obsessed over every little thing for months - I mean, we even made
          sure the floorboards creak just right and the lights flicker at the
          perfect moments. Detailed props and realistic settings
        </p>
      </div>
    </div>
  </div>
</section>
