<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How many players can participate?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          We can fit anywhere from 3-8 people depending on the room - just shoot
          us an email and we'll let you know what works best.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Are the rooms suitable for beginners?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes. Don't worry if you're new to this - we've got easier puzzles to
          get you started, plus some real brain-busters for the pros.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is prior knowledge required?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No. Don't worry, we'll walk you through everything you need to know
          once you're in there.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How long does each room take?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Usually takes about an hour, but some groups fly through it while
          others... well, let's just say they take their time!
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Can we replay a room?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes. Sure, you can come back and do it again - though the puzzles will
          be pretty much the same, so it might not be as challenging the second
          time around.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">How do we book a room?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-caret"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          All booking inquiries are handled via email: info@playnith.online
        </p>
      </li>
    </ul>
  </div>
</section>
