<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <div class="gameplay-text-wrapper">
      <h2 class="section-title gameplay-title">Gameplay Overview</h2>
      <div class="gameplay-circle"></div>
      <p class="gameplay-text">
        Player jumps across platforms that appear in front of them. Platforms
        vary in size, stability,
      </p>
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img1-desk.png"
          media="(min-width: 1440px)"
          width="124"
          height="50" />
        <source
          srcset="./img/gameplay/gameplay-img1-mob.png"
          width="52"
          height="22" />
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img1-mob.png"
          alt="Screenshot of the game"
          width="52"
          height="22" /></picture
      >&nbsp;
      <p class="gameplay-text">
        and movement.
        <span class="gameplay-text-span"
          >Reach the end to unlock the next level.</span
        >
      </p>
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img2-desk.png"
          media="(min-width: 1440px)"
          width="72"
          height="50" />
        <source
          srcset="./img/gameplay/gameplay-img2-mob.png"
          width="36"
          height="22" />
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img2-mob.png"
          alt="Screenshot of the game"
          width="36"
          height="22" /></picture
      >&nbsp;
      <p class="gameplay-text">
        <span class="gameplay-text-span"
          >New levels introduce different platform shapes and behaviors</span
        >
      </p>
    </div>
  </div>
</section>
