<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-top-wrapper">
          <ul class="hero-list">
            <li class="hero-list-item">
              <p class="hero-item-text">Precision</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-text">Control</p>
            </li>
            <li class="hero-list-item">
              <p class="hero-item-text">Risk</p>
            </li>
          </ul>
          <p class="hero-top-subtitle">Fearless</p>
          <p class="hero-top-text">
            Think you can make it to the end when every jump's a gamble?
          </p>
        </div>
        <div class="hero-bottom-wrapper">
          <h1 class="hero-main-title">
            Jump.<br />
            Balance.<br />
            <span class="hero-title-span">Conquer.</span>
          </h1>
          <div class="hero-btn-wrapper">
            <p class="hero-text">
              Every leap is a challenge. Every landing proves you belong.
            </p>
            <a class="hero-btn" href="#">
              <svg class="playstore-icon" width="26" height="29">
                <use href="./img/sprite.svg#icon-playstore"></use>
              </svg>
              <div class="hero-btn-text-wrapper">
                <p class="hero-btn-top-text">GET IT ON</p>
                <p class="hero-btn-bottom-text">Google Play</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <img
      class="hero-img"
      src="./img/hero/hero-img-desk.png"
      alt="Screenshot of the game"
      width="426"
      height="256"
    />
  </div>
</section>
