<section class="section rooms-section" id="rooms">
  <div class="container rooms-container">
    <div class="rooms-text-wrapper">
      <h2 class="section-title rooms-title">
        Room <span class="section-title-span">Overview</span>
      </h2>
      <ul class="rooms-list">
        <li class="rooms-list-item">
          <picture>
            <source
              srcset="./img/rooms/rooms-img1-desk.png"
              media="(min-width: 1440px)"
              width="608"
              height="350" />
            <source
              srcset="./img/rooms/rooms-img1-mob.png"
              width="343"
              height="350" />
            <img
              class="rooms-img"
              src="./img/rooms/rooms-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="350"
              loading="lazy"
          /></picture>
          <h3 class="rooms-item-title">The Interrogation</h3>
          <p class="rooms-item-subtitle">Tense and controlled</p>
          <p class="rooms-item-text">
            We obsessed over every little thing for months - I mean, we even
            made sure the floorboards creak just right and the lights flicker at
            the perfect moments. Detailed props and realistic settings
          </p>
          <p class="rooms-item-text rooms-item-bottom-text">
            Goal: prove your innocence and solve the case. You need to keep your
            cool under pressure and noticing the little details.
          </p>
          <div class="rooms-item-features-wrapper">
            <div class="rooms-features-item">
              <svg class="rooms-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-users"></use>
              </svg>
              <p class="rooms-item-features-text">3-6</p>
            </div>
            <div class="rooms-features-item">
              <svg class="rooms-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-time"></use>
              </svg>
              <p class="rooms-item-features-text">60 min</p>
            </div>
            <div class="rooms-features-item">
              <svg class="rooms-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-target"></use>
              </svg>
              <p class="rooms-item-features-text">Psychological pressure</p>
            </div>
          </div>
        </li>
        <li class="rooms-list-item">
          <picture>
            <source
              srcset="./img/rooms/rooms-img2-desk.png"
              media="(min-width: 1440px)"
              width="608"
              height="350" />
            <source
              srcset="./img/rooms/rooms-img2-mob.png"
              width="343"
              height="350" />
            <img
              class="rooms-img"
              src="./img/rooms/rooms-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="350"
              loading="lazy"
          /></picture>
          <h3 class="rooms-item-title">The Old Post Office</h3>
          <p class="rooms-item-subtitle">Quiet and unsettling</p>
          <p class="rooms-item-text">
            Players explore a room filled with post office objects and
            mailboxes. Sorting letters reveals hidden secrets about the town.
          </p>
          <p class="rooms-item-text rooms-item-bottom-text">
            Goal: uncover a dark mystery through investigation and
            puzzle-solving. Emphasis on exploration, discovery, and narrative
          </p>
          <div class="rooms-item-features-wrapper">
            <div class="rooms-features-item">
              <svg class="rooms-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-users"></use>
              </svg>
              <p class="rooms-item-features-text">2-6</p>
            </div>
            <div class="rooms-features-item">
              <svg class="rooms-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-time"></use>
              </svg>
              <p class="rooms-item-features-text">60 min</p>
            </div>
            <div class="rooms-features-item">
              <svg class="rooms-icon" width="20" height="20">
                <use href="./img/sprite.svg#icon-target"></use>
              </svg>
              <p class="rooms-item-features-text">Exploration</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
